# compiled output
/dist
/node_modules

# Exclude the Environment vars from the Git repo, they have secret-keys
*.env

# But do not exclude the shared.env because we want to share it to show example key-vars
!shared.env

# Exclude the local user interaction db file
user.filedb.json 

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
# Tests : The following ""...dynamic.test..." file is auto-created during 
#         unit-test, so dont need to use in repo.
user.filedb.dynamic.test.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json